body {
  background-color: rgb(243, 243, 243);
}

.low {
  background-color: greenyellow;
}

.moderate {
  background-color: rgb(255, 233, 108);
}
.high {
  background-color: rgb(218, 100, 32);
}
.veryhigh {
  background-color: red;
}
.extreme {
  background-color: purple;
}

.button {
  cursor: pointer;
}

ul {
  padding: 0;
}
